<%- include header %>
<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(/<%=CONST.SYSTEM.THEME%>/images/bg01.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">合作伙伴</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Cooperative Partner</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    	    <div id="gtco-products">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>合作伙伴</h2>
					<p>公司凭借多年与国内外优秀厂商的合作，并结合公司技术实力，能充分为用户提供合理的系统集成方案</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="企业网络（数通&安全）认证及服务商/多产品金牌经销商（数通安全、传输接入、IT、云软件、UC&C、行业视频、网络能源）" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/huawei.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年3月至2018年3月认证经销商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/hensinder.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年度金牌代理商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/easted.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年度授权代理商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/dp.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年度二星级服务商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/ruijie.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/eisoo.jpg">
					</div>
				</div>
			</div>
			<div class="row">	
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/esri.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/dahua.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/inspur.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/dell.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/hp.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/lenovo.jpg">
					</div>
				</div>
			</div>
			<div class="row">	
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/hik.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/ORACLE.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/ricoh.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/H3C.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/topsec.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/vmware.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>

<%- include footer %>