<%- include header %>

		<div id="gtco-header" role="banner" class="swiper-container gtco-cover">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide" style="background-image:url(/<%=CONST.SYSTEM.THEME%>/images/bg1.jpg)">
		        <div class="overlay"></div>
		        	<div class="gtco-container">
						<div class="row">
							<div class="col-md-12 col-md-offset-0 text-center">
								<div class="display-t">
									<div class="display-tc">
										<img class="animate-box" data-animate-effect="fadeOutLeft" src="/<%=CONST.SYSTEM.THEME%>/images/bg_title0.png">
									</div>
								</div>
							</div>
						</div>
					</div>
		        </div>
		        <div class="swiper-slide" style="background-image:url(/<%=CONST.SYSTEM.THEME%>/images/bg2.jpg)">
		        <div class="overlay"></div>
		        	<div class="gtco-container">
						<div class="row">
							<div class="col-md-12 col-md-offset-0 text-center">
								<div class="display-t">
									<div class="display-tc">
										<img class="animate-box" data-animate-effect="fadeOutLeft" src="/<%=CONST.SYSTEM.THEME%>/images/bg_title2.png">
									</div>
								</div>
							</div>
						</div>
					</div>
		        </div>
		        <div class="swiper-slide" style="background-image:url(/<%=CONST.SYSTEM.THEME%>/images/bg3.jpg)">
		        <div class="overlay"></div>
		        	<div class="gtco-container">
						<div class="row">
							<div class="col-md-12 col-md-offset-0 text-center">
								<div class="display-t">
									<div class="display-tc">
										<img class="animate-box" data-animate-effect="fadeOutLeft" src="/<%=CONST.SYSTEM.THEME%>/images/bg_title3.png">
									</div>
								</div>
							</div>
						</div>
					</div>
		        </div>
		    </div>
		</div>		
	<div id="gtco-features-3">
		<div class="gtco-container">
			<div id="news-features" class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-search"></i>
						</span>
						<h3>新闻资讯</h3>
						<p>哈尔滨市新金电子有限公司是一家以信息系统集成及运维服务、安防监控、软件开发、建筑智能化、设备销售为主的高新技术企业。 </p>
						<p><a href="/channel/NEWS/GSDSJ" class="btn btn-white btn-outline">了解更多</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-announcement"></i>
						</span>
						<h3>成功案例</h3>
						<p>新金电子以开拓黑龙江省信息产业市场作为公司立足和发展的基础，并以“高起点，重技术，严管理，优服务”挤身于我省IT行业前列。</p>
						<p><a href="/channel/ROOT/CASE" class="btn btn-white btn-outline">了解更多</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-timer"></i>
						</span>
						<h3>服务体系</h3>
						<p>新金电子经过十余年的不懈努力，已深得广大龙江用户的支持和信任，凭借一贯的良好信誉，专业的项目管理体系，灵活的市场营销策略，雄厚的技术实力和规范的售后服务。</p>
						<p><a href="/channel/ITEM/SHFWCN" class="btn btn-white btn-outline">了解更多</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>业务范围</h2>
					<p>信息系统集成及运维服务、安防监控、软件开发、建筑智能化、设备销售等</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-vector"></i>
						</span>
						<h3>系统集成</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-desktop"></i>
						</span>
						<h3>软件开发</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-tablet"></i>
						</span>
						<h3>视频会议系统</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-signal"></i>
						</span>
						<h3>建筑智能化工程</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
						<h3>计算机场地建设</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-ruler-pencil"></i>
						</span>
						<h3>安全技术防范工程</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-link"></i>
						</span>
						<h3>信息系统安全集成</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-layout"></i>
						</span>
						<h3>信息系统运维服务</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-target"></i>
						</span>
						<h3>防雷工程设计、施工</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-world"></i>
						</span>
						<h3>产品销售</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-shopping-cart"></i>
						</span>
						<h3>中央国家机关政府协议采购</h3>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-shopping-cart-full"></i>
						</span>
						<h3>省、市、区政府协议采购</h3>
					</div>
				</div>
			</div>

		</div>
	</div> -->

	<div class="gtco-section" style="padding: 3em 0 7em;">
		<div class="gtco-container">

			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>新闻资讯</h2>
					<p>公司始终如一地坚持遵守IT行业道德准则，并充分理解、演绎品质第一、服务至上的深刻含义。</p>
				</div>
			</div>

			<div class="fh5co-blog-style-1">
				<div class="row p-b">
					<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
						<div class="fh5co-post animate-box fadeInLeft"  data-animate-effect="fadeIn">
							<div class="fh5co-post-image">
								<img src="/<%=CONST.SYSTEM.THEME%>/images/img_1.jpg" alt="Image" class="img-responsive">
							</div>
							<div class="fh5co-post-text">
								<h3><a href="#">哈尔滨市新金电子有限公司简介</a></h3>
								<p>哈尔滨市新金电子有限公司是一家以信息系统集成及运维服务、安防监控、软件开发、建筑智能化、设备销售为主的高新技术企业。</p>
							</div>
							<div class="fh5co-post-meta">
								<a href="#"><i class="icon-clock2"></i> 2017-05-22</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
						<div class="fh5co-post animate-box fadeInLeft"  data-animate-effect="fadeIn">
							<div class="fh5co-post-image">
								<img src="/<%=CONST.SYSTEM.THEME%>/images/img_3.jpg" alt="Image" class="img-responsive">
							</div>
							<div class="fh5co-post-text">
								<h3><a href="#">哈尔滨市新金电子有限公司简介</a></h3>
								<p>哈尔滨市新金电子有限公司是一家以信息系统集成及运维服务、安防监控、软件开发、建筑智能化、设备销售为主的高新技术企业。</p>
							</div>
							<div class="fh5co-post-meta">
								<a href="#"><i class="icon-clock2"></i> 2017-05-22</a>
							</div>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12">
						<div class="fh5co-post animate-box fadeInLeft"  data-animate-effect="fadeIn">
							<div class="fh5co-post-image">
								<img src="/<%=CONST.SYSTEM.THEME%>/images/img_4.jpg" alt="Image" class="img-responsive">
							</div>
							<div class="fh5co-post-text">
								<h3><a href="#">哈尔滨市新金电子有限公司简介</a></h3>
								<p>哈尔滨市新金电子有限公司是一家以信息系统集成及运维服务、安防监控、软件开发、建筑智能化、设备销售为主的高新技术企业。</p>
							</div>
							<div class="fh5co-post-meta">
								<a href="#"><i class="icon-clock2"></i> 2017-05-22</a>
							</div>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
				</div>
				
			</div>
		</div>
	</div>

	<div id="gtco-portfolio" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>成功案例 </h2>
					<p>专业的项目管理体系，灵活的市场营销策略，雄厚的技术实力和规范的售后服务。</p>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-portfolio-list">
						<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/<%=CONST.SYSTEM.THEME%>/images/img_1.jpg); "> 
							<a href="#" class="color-1">
								<div class="case-studies-summary">
									<span>建筑智能化工程</span>
									<h2>哈尔滨市会计人员培训中心电教室设备采购</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/<%=CONST.SYSTEM.THEME%>/images/img_2.jpg); ">
							<a href="#" class="color-2">
								<div class="case-studies-summary">
									<span>计算机场地建设</span>
									<h2>哈尔滨市会计人员培训中心电教室设备采购</h2>
								</div>
							</a>
						</li>


						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/<%=CONST.SYSTEM.THEME%>/images/img_3.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>视频会议系统</span>
									<h2>哈尔滨市会计人员培训中心电教室设备采购</h2>
								</div>
							</a>
						</li>
						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/<%=CONST.SYSTEM.THEME%>/images/img_4.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>系统集成</span>
									<h2>哈尔滨市会计人员培训中心电教室设备采购</h2>
								</div>
							</a>
						</li>
					
					</ul>		
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center animate-box">
					<a href="/channel/ROOT/CASE" class="btn btn-white btn-outline btn-lg btn-block">查看全部</a>
				</div>
			</div>

			
		</div>
	</div>

	


<div id="gtco-qa" class="gtco-section" >
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>公司资质</h2>
					<p>为用户提供国内同行业可供参考的信息化管理模式及应用</p>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/1.jpg">
								<p>·ITSS信息技术服务运行维护标准（叁级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/2.jpg">
							<p>·涉密信息系统集成资质（乙级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/3.jpg">
							<p>·计算机信息系统集成及服务资质（叁级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/4.jpg">
							<p>·ISCCC信息安全服务资质认证证书（三级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/5.jpg">
							<p>·软件企业认定证书</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/6.jpg">
							<p>·ISO 9001质量管理体系认证证书</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/7.jpg">
							<p>·ISO 14001环境管理体系认证证书</p>
							</a>
						</div>
					</div>
					
				</div>
				<div class="col-md-6">					
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/8.jpg">
							<p>·ISO 18001职业健康安全管理体系认证证书</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/9.jpg">
							<p>·电子与智能化工程专业承包（贰级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/10.jpg">
							<p>·黑龙江省安防工程企业资质（壹级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/11.jpg">
							<p>·黑龙江省计算机信息系统机房建设安全资质（壹级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/12.jpg">
							<p>·室内装饰企业设计、施工资质（乙级）</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">
							<a target="_blank" href="/<%=CONST.SYSTEM.THEME%>/images/QA/13.jpg">
							<p>·黑龙江省有线电视网（监测网）设计（安装）许可证</p>
							</a>
						</div>
					</div>
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-check">

							<p>·黑龙江省“守合同重信用”</p>

						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div id="gtco-products">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>合作伙伴</h2>
					<p>公司凭借多年与国内外优秀厂商的合作，并结合公司技术实力，能充分为用户提供合理的系统集成方案</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="企业网络（数通&安全）认证及服务商/多产品金牌经销商（数通安全、传输接入、IT、云软件、UC&C、行业视频、网络能源）" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/huawei.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年3月至2018年3月认证经销商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/hensinder.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年度金牌代理商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/easted.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年度授权代理商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/dp.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img title="2017年度二星级服务商" width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/ruijie.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/eisoo.jpg">
					</div>
				</div>
			</div>
			<div class="row">	
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/esri.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/dahua.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/inspur.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/dell.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/hp.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/lenovo.jpg">
					</div>
				</div>
			</div>
			<div class="row">	
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/hik.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/ORACLE.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/ricoh.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/H3C.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/topsec.jpg">
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img width="100%" src="/<%=CONST.SYSTEM.THEME%>/images/coop/vmware.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include footer %>