<form action='/<%= CONST.SYSTEM.MPATH %>/channeladd' method='post' id='formchannel'>
    <table class="bordered hovered" id="tchannellist">
        <thead>
        <tr>
            <th class="thead_hide"></th>
            <th><%= CHANNEL.LABEL.PARENTKEY %></th>
            <th><%= CHANNEL.LABEL.NAME %></th>
            <th><%= CHANNEL.LABEL.TYPE %></th>
            <th><%= CHANNEL.LABEL.KEY %></th>
            <th><%= CHANNEL.LABEL.ISMENU %></th>
            <th style="width:50px;"><%= CHANNEL.LABEL.SORTID %></th>
            <th style="width:126px;"><%= COMMON.TITLE.OPERAT %></th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<pageCount; i++) {
                if (i%2 == 0){%>
        <tr class="td_one" id="tr<%=i%>">
            <%}else{%>
        <tr class="td_two" id="tr<%=i%>">
            <%}%>
            <td class="thead_hide" id="id<%=i%>"><%=smcl[i]._id%></td>
            <td id="pk<%=i%>">
                <input type="hidden" name="parentkey<%=i%>" id="parentkey<%=i%>" value="<%=smcl[i].parentkey%>"/>
                <span></span>
            </td>
            <td id="name<%=i%>"><%=smcl[i].name%></td>
            <td id="stype<%=i%>"><input type="hidden" name="stypev<%=i%>" id="stypev<%=i%>" value="<%=smcl[i].stype%>"/><%=smcl[i].stype=="1"?CHANNEL.LABEL.INLINK:CHANNEL.LABEL.OUTLINK%></td>
            <td id="key<%=i%>"><%=smcl[i].key%></td>
            <td id="ismenu<%=i%>"><%=smcl[i].ismenu==1?COMMON.TITLE.Y:COMMON.TITLE.N%></td>
            <td style="width:50px;" id="sortid<%=i%>"><%=smcl[i].sortid%></td>
            <td style="width:126px;">
                <a class="button default treegrid_button" style="margin-right: 5px !important;" href="javascript:btnEditClick('<%=i%>')"><%= COMMON.TITLE.EDIT %></a>
                <a class="button default treegrid_button" href="javascript:btnDelClick('<%=i%>');"><%= COMMON.TITLE.DELETE %></a>
            </td>
        </tr>
        <% } %>

        <input type="hidden" name="opt" id="opt" value="1"/>
        <input type="hidden" name="id" id="id" value=""/>
        </tbody>
        <tfoot>
        <tr class="error">
            <td  colspan="7" class="sanpo-tgridtd">
                <% if(!isFirstPage){ %>
                <a href="javascript:listload($('#findvalue').val(), parseInt($('#pn').val())-1);"><%= COMMON.TITLE.PREVIOUS %></a>
                <% } %>
                <%- footinfo%>
                <% if(!isLastPage){ %>
                <a href="javascript:listload($('#findvalue').val(), parseInt($('#pn').val())+1);"><%= COMMON.TITLE.NEXT %></a>
                <% } %>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
<script>
    var bshow = false;
    var tobj;
    var newobj;
    var smchannel = <%-smchannel%>;
    var pages=<%=pages%>;
    var pageCount=<%=pageCount%>;
    $(function () {
        newobj = "<tr id='newobj'><td><div class='input-control select'><select id='parentkey' name='parentkey'></select></div></td><td><div class='input-control text'><input id='name' name='name' type='text' value='' placeholder='<%= CHANNEL.LABEL.NAME %>' VTypes='label:<%= CHANNEL.LABEL.NAME %>;required:true;tip:errtip_a'><button class='helper' tabindex='-1' type='button'></button><span class='fg-color-red' id='errtip_a'></span></div></td><td><div class='input-control select'><select id='stype' name='stype'><option value='1'><%= CHANNEL.LABEL.INLINK %></option><option value='2'><%= CHANNEL.LABEL.OUTLINK %></option></select></div></td><td><div class='input-control text'><input id='key' name='key' type='text' value='' placeholder='<%= CHANNEL.LABEL.KEY %>' VTypes='label:<%= CHANNEL.LABEL.KEY %>;required:true;tip:errtip_c'><button class='helper' tabindex='-1' type='button'></button><span class='fg-color-red' id='errtip_c'></span></div></td><td><label class='input-control switch' onclick=''><input type='checkbox' checked='' name='ismenu' id='ismenu'><span class='helper'></span></label></td><td><div class='input-control text'><input id='sortid' name='sortid' type='text' value='99' placeholder='<%= CHANNEL.LABEL.SORTID %>' VTypes='label:<%= CHANNEL.LABEL.SORTID %>;required:true;check:number;tip:errtip_e'><button class='helper' tabindex='-1' type='button'></button><span class='fg-color-red' id='errtip_e'></span></div></td><td><a class='button default treegrid_button' style='margin-right: 10px !important;' href='javascript:btnSaveClick();'><%= COMMON.TITLE.SAVE %></a><a class='button default treegrid_button' href='javascript:btnCancelClick();'><%= COMMON.TITLE.CANCEL %></a></td></tr>";
    })
    $(document).ready(function () {
        $('#pn').bind('keypress',function(event){
            if(event.keyCode == "13"){
                if (parseInt($('#pn').val())>0 && parseInt($('#pn').val()) <= parseInt(pages)){
                    listload($('#findvalue').val(), $('#pn').val());
                }
            }
        });
        changeLabel();
        $('#btnAddChannel').click(function(){
            if (bshow){
                btnCancelClick();
            }
            $("#opt").val("1");
            bshow = true;
            $('#opt').before(newobj);
            $()['Input']({initAll: true});
            loadList('');
            $('#formchannel').checkForm();
        });
    });
    function changeLabel(){
        for (j=0; j < pageCount; j++){
            for (i=0; i < smchannel.length; i++){
                if (smchannel[i].key === $('#parentkey'+j).val()){
                    $('#pk'+j+' span').text(smchannel[i].name);
                    break;
                }
            }
        }
    }
    function loadList(v){
        for (i=0; i < smchannel.length; i++){
            var opt = $('<option />', {value: smchannel[i].key,text: smchannel[i].name});
            if (smchannel[i].key === v){
                opt.attr('selected','selected');
            }
            opt.appendTo($("#parentkey"));
        }
    }
    function btnEditClick(i){
        if (bshow){
            btnCancelClick();
        }
        tobj = $('#tr'+i);
        var name = $('#name'+i).text();
        var id = $('#id'+i).text();
        var parentkey = $('#parentkey'+i).val();
        var stypev = $('#stypev'+i).val();
        var key = $('#key'+i).text();
        var sortid = $('#sortid'+i).text();
        var ismenu = $('#ismenu'+i).text();
        $('#tr'+i).replaceWith(newobj);
        bshow = true;
        $("#opt").val("2");
        $('#name').val(name);
        $('#id').val(id);
        loadList(parentkey);
        $('#parentkey').val(parentkey);
        $('#key').val(key);
        $('#sortid').val(sortid);
        $('#stype').val(stypev);
        ismenu=='是'?$('#ismenu').attr("checked",true):$('#ismenu').attr("checked",false);
        $()['Input']({initAll: true});
        $('#formchannel').checkForm();
    }
    function btnDelClick(i){
        var id = $('#id'+i).text();
        var name = $('#name'+i).text();
        $.Zebra_Dialog('<%=COMMON.TITLE.QDELETEL%>'+name+'<%=COMMON.TITLE.QDELETER%>', {
            'type': 'question'
            ,'auto_close':false,'show_close_button':false,
            'overlay_close':false,
            'width': '400'
            ,'buttons':[{caption: '<%=COMMON.TITLE.CANCEL%>'},
                {caption: '<%=COMMON.TITLE.OK%>', callback: function(){
                    $.ajax({
                        url:"/<%= CONST.SYSTEM.MPATH %>/channeldel",
                        type:'POST',
                        data: {"did": id},
                        dataType:"json",
                        success:function(data) {
                            if (data.success){
                                loadArticle(data['url'], data['isRedirect']);
                            } else {
                                $('#err_tips')[0].innerHTML = data['tip'];
                            }
                        }
                    });
                }}]
        });
    }
    function btnCancelClick() {
        bshow = false;
        if ($("#opt").val()=="1"){
            $('#newobj').remove();
        }else{
            $('#newobj').replaceWith(tobj);
        }
    }
    function btnSaveClick() {
        $('#formchannel').submit();
    }
    $('#formchannel').ajaxForm({
        dataType: 'json'
        ,beforeSubmit: beforesubmitopt
        ,success: successopt
    });
    function beforesubmitopt() {
        if ($('#formchannel').checkFormEx()) {
            return true;
        } else {
            return false;
        }
    }
    function successopt(data) {
        if (data['success']) {
            loadArticle(data['url'], data['isRedirect']);
        } else {
            $('#err_tips')[0].innerHTML = data['tip'];
        }
    }
</script>