<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <%- include head %>
    <title><%= SITE.NAME %> -- <%= SITE.DESCRIPTION %></title>
</head>
<body onresize="funResize()">
<%- include header%>
<%- include nav%>
<%- include article%>
<%- include footer%>
</body>
</html>
